* {
    box-sizing: border-box;
}
.block {
    max-width: 255px;
    background: burlywood;
    padding: 10px 30px 30px 30px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: inset 0 0 20px;
    display: inline-block;
}
.dlock {
    background: lightgray;
    max-width: 1200px;
    max-height: 510px;
    border: 1px solid #000;
    border-radius: 25px 0 0 25px;
    overflow: auto;
}